<h1>Realstar</h1>

<p>Please hit the following endpoints to get sample responses.</p>

<ul>
    <li><a href="http://developer.alphaflow.com/docs/syndicate-investments" target="_blank">Investments</a></li>
    <li><a href="http://developer.alphaflow.com/docs/syndicate-notifications" target="_blank">Notifications</a></li>
    <li><a href="http://developer.alphaflow.com/docs/syndicate-user-contributions" target="_blank">User Contributions</a></li>
    <li><a href="http://developer.alphaflow.com/docs/syndicate-user-earnings" target="_blank">Earnings</a></li>
</ul>
