<h1>Realstar</h1>

<p>Please hit the following endpoints to get sample responses.</p>

<dl>
    <dt>Investments</dt>
    <dd>POST /users/{apikey}/earnings</dd>
    <dt>Notifications</dt>
    <dd>GET /investments/{id}/notifications</dd>
    <dt>User Investments</dt>
    <dd>GET /users/{apikey}/investments</dd>
    <dt>Earnings</dt>
    <dd>GET /users/{apikey}/earnings</dd>
</dl>
